body {
	max-width: 1000px;
	margin: auto;
	background: #f1f1f1;
}

h1 {
	margin-top: 100px;
	font-family: Arial;
	color: grey;
}

h2 {
	margin-top: 100px;
	margin-bottom: 100px;
	font-family: Arial;
	color: grey;
}

h3 {
	font-family: Arial;
	color: grey;
}

h4 {
	font-family: Arial;
	color: grey;
	float: left;
}


#schriftzug {
	margin-right: 0px;
	margin-bottom: 30px;
}



#tab {
	margin-top: 200px;
}

.prozent {
	float: left;
}

.antworten {
	max-width: 200px;
	margin-top: 200px;
	
}

.pic {
	margin-left: 200px;
	margin-top: -320px;
}

.finalpic {
	width: 300px;
}

#nase2 {
		background:url(images/nase2.png);
		width: 640px;
		height: 400px;
}

#nase1 {
		background:url(images/nase1.png);
		width: 640px;
		height: 400px;
}

#auge1 {
		background:url(images/auge1.png);
		width: 640px;
		height: 400px;
}

#ohr1 {
		background:url(images/ohr1.png);
		width: 640px;
		height: 400px;
}

@keyframes walk-east {
		from { background-position: 0px;}
		to { background-position: -3840px;}
}

@-webkit-keyframes walk-east {
		from { background-position: 0px;}
		to { background-position: -3840px;}
}

#start{
	margin-top: 80px;
	margin-bottom: 30px;
	padding: 10px 20px;
	width: 100px;
	color: #FFF; 
	background-color: #db5757; 
	box-shadow: 0px 17px 10px -7px; 
	rgba(0,0,0,0.4); 

	border: 3px solid #db5757;
	border-radius: 5px;

	text-align: center;
	font-size: 20px;
	font-family: Arial;
	transition: ease-in-out all 300ms;
}

#start:hover {
	color: #db5757;
	background-color: #FFF;

	transform: translate(0px, -10px);

	box-shadow: 0px 30px 15px -10px rgba(0,0,0,0.2);
}

.aus1 {
	margin-top: 12px;
	padding: 0px;
	width: 150px;
	height: 40px;
	color: white; 
	background: #b9b9b9;

	border: outset 4px white;
	border-radius: 10px;
	
	font-size:20px;
	font-family: Trebuchet MS;
	text-align: center;
}

.aus1:hover {
	transform: scale(0.9);
	transition: ease-in-out all 300ms;
}

.aus1:disabled {
	transform: scale(1);
	background: #686868;
	transition: ease-in-out all 300ms;
}

.aus2 {
	margin-top: 12px;
	padding: 0px;
	width: 150px;
	height: 40px;
	color: white; 
	background: #b9b9b9;


	border: outset 4px white;
	border-radius: 10px;
	
	font-size:20px;
	font-family: Trebuchet MS;
	text-align: center;
}

.aus2:hover {
	transform: scale(0.9);
	transition: ease-in-out all 300ms;
}

.aus2:disabled {
	transform: scale(1);
	background: #686868;
	transition: ease-in-out all 300ms;
}


.aus3 {
	margin-top: 12px;
	padding: 0px;
	width: 150px;
	height: 40px;
	color: white; 
	background: #b9b9b9;
  

	border: outset 4px white;
	border-radius: 10px;
	
	font-size:20px;
	font-family: Trebuchet MS;
	text-align: center;
}

.aus3:hover {
	transform: scale(0.9);
	transition: ease-in-out all 300ms;
}

.aus3:disabled {
	transform: scale(1);
	background: #686868;
	transition: ease-in-out all 300ms;
}


.aus4 {
	margin-top: 12px;
	padding: 0px;
	width: 150px;
	height: 40px;
	color: white; 
	background: #b9b9b9;


	border: outset 4px white;
	border-radius: 10px;
	
	font-size:20px;
	font-family: Trebuchet MS;
	text-align: center;
}

.aus4:hover {
	transform: scale(0.9);
	transition: ease-in-out all 300ms;
}

.aus4:disabled {
	transform: scale(1);
	background: #686868;
	transition: ease-in-out all 300ms;
}

.reflesh{
	font-size: 20px;
	margin-top:100px;
	width: 250px;
	height: 50px;
	color: #c5c5c5; 
	background-color: #fdfdfd; 

	border: solid 3px #c5c5c5;
	border-radius: 40px;

	text-align: center;
	font-family: Arial;
	letter-spacing: 1px;
	transition: ease-in-out all 400ms;
}

.reflesh:hover {
	color: #fdfdfd;
	background-color: #c5c5c5;

}

.submitbutton{
	font-size: 20px;
	margin-top:100px;
	width: 560px;
	height: 50px;
	color: #c5c5c5; 
	background-color: #fdfdfd; 

	border: solid 3px #c5c5c5;
	border-radius: 40px;

	text-align: center;
	font-family: Arial;
	letter-spacing: 1px;
	transition: ease-in-out all 400ms;
}

.submitbutton:hover {
	color: #fdfdfd;
	background-color: #c5c5c5;

}


#richtigerSinn {
	margin-top: 50px;
	margin-bottom: -50px;
}

.lösung {
	padding-right: 100px;
	padding-left: 100px;
}

td {
	font-family: Arial;
	color: grey;
}

#clickme {
	margin-bottom: 50px;
	margin-left: 50px;
}






@media 
only screen and (max-width: 1100px){
	
	body {
		height: 1000px;
		max-width: 820px;
	}

	.antworten {
		margin-left: 240px;
		max-width: 590px;
		margin-top: 250px;
	
	}	
	
	#bu1, #bu2, #bu3, #bu4, #bu5, #bu6, #bu7, #bu8, #bu9, #bu10, #bu11, #bu12, #bu13, #bu14, #bu15, #bu16, #bu17, #bu18, #bu19, #bu20 {
		width: 100px;
		font-size: 16px;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 350px;
	}


	#imspiel {
		margin-left: -100px;
	}

	.pic {
		margin-top: -500px;
		margin-left: 100px;
		
	}
	#richtigerSinn {
		margin-left: 200px;	
	}

}

@media 
only screen and (max-width: 800px){
	.pic {
		transform: scale(0.6);	
	}
	body {
		max-width: 490px;
	}
	.pic {
		margin-left: -120px;
	}
	.antworten {
		margin-left: 105px;
		
	}
	#richtigerSinn {
		margin-left: 110px;	
		margin-bottom: -150px;
	}	

	#bu1, #bu2, #bu3, #bu4, #bu5, #bu6, #bu7, #bu8, #bu9, #bu10, #bu11, #bu12, #bu13, #bu14, #bu15, #bu16, #bu17, #bu18, #bu19, #bu20 {
		width: 80px;
		font-size: 12px;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: - 200px;
	}
}

@media 
only screen and (max-width: 610px){
	.finalpic {
		width: 150px;
	}
	.antworten {
		margin-top: 500px;
		max-width: 240px;
	
	}

	.pic {
		margin-top: -500px;
	}
	
	#bu1, #bu2, #bu3, #bu4, #bu5, #bu6, #bu7, #bu8, #bu9, #bu10, #bu11, #bu12, #bu13, #bu14, #bu15, #bu16, #bu17, #bu18, #bu19, #bu20 {
		margin-top: 10px;
	}

}





